<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.giantsgram.friend.dao.FriendDAO">
 	<insert id="addFriend" parameterType="map">
 		INSERT INTO `friend`
 		(
 			`userId`
 			,`friendId`
 			,`createdAt`
 			,`updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			,#{friendId}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	<select id="getFriendList" resultType="com.giantsgram.friend.model.Friend">
 		SELECT
	 		`userId`
	 		,`friendId`
	 		,`createdAt`
	 		,`updatedAt`
	 	FROM
	 		`friend`
	 	WHERE
	 		`userId` = #{userId}
 	</select>

 </mapper>