<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giantsgram.user.dao.UserDAO">
	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		(
			`loginId`
			,`password`
			,`name`
			,`nickname`
			,`phoneNumber`
			,`email`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{loginId}
			,#{password}
			,#{name}
			,#{loginId}
			,#{phoneNumber}
			,#{email}
			,NOW()
			,NOW()
		)
	</insert>
	<select id="duplicatedId" resultType="com.giantsgram.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`name`
			,`nickname`
			,`phoneNumber`
			,`email`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
	<select id="selectUser" parameterType="map" resultType="com.giantsgram.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`name`
			,`nickname`
			,`phoneNumber`
			,`email`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
			AND `password` = #{password}
	</select>
	<select id="selectUserById" resultType="com.giantsgram.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`name`
			,`nickname`
			,`phoneNumber`
			,`email`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`id` = #{userId}
	</select>
	<select id="selectUserList" resultType="com.giantsgram.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`name`
			,`nickname`
			,`phoneNumber`
			,`email`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
	</select>
	<select id="selectLoginIdMyNameAndEmail" parameterType="map" resultType="String">
		SELECT
			`loginId`
		FROM
			`user`
		WHERE
			`name` = #{name}
			AND `email` = #{email}
	</select>
	<select id="selectEmailByLoginId" resultType="String">
		SELECT
			`email`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
	<update id="updateProfile" parameterType="map">
		UPDATE `user`
		SET
			`name` = #{name}
			,`nickname` = #{nickname}
			,`phoneNumber` = #{phoneNumber}
			,`email` = #{email}
			,`imagePath` = #{imagePath}
			,`updatedAt` = NOW()
		WHERE
			`id` = #{userId}
	</update>
	<update id="updatePasswordByloginId" parameterType="map">
		UPDATE `user`
		SET
			`password` = #{password}
		WHERE
			`loginId` = #{loginId}
	</update>
</mapper>