@charset "UTF-8";
#wrap {width:800px; height:700px; margin:auto;}
.signUpBox {width:350px; border: solid 1px rgb(217,217,217);}
.subtitleFont {font-size:15px; color:rgb(255,122,47); font-weight:bold;}
hr {border:solid 0.5px rgb(217,217,217);}
.inputBox {width:300px;}
.inputBoxFont {font-size:13px; color:rgb(217,217,217); width:280px;}
.inputBoxFont1 {font-size:13px; color:rgb(217,217,217); width:200px;}
#duplicatedId {width:70px; background-color:rgb(255,122,47); color:white; font-size:8px;}
.warningFont {font-size:10px; color:red;}
.greenFont {font-size:10px; color:green;}
.signUpBtn {background-color:rgb(255,122,47); color: white; font-size:13px;}
.findFont {font-size:13px;}
.findFont a {text-decoration:none;}
.findFont a:link{color:rgb(255,122,47);}
.findFont a:visited{color:rgb(255,122,47);}
.findFont a:hover{color:rgb(255,122,47);}
.findFont a:active{color:rgb(255,122,47);}